
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Game Interface</title>
    <!-- Links for custom styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'trading/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
</head>
<body>

<!-- Header Section -->
<header>
    <h1>Market Auction</h1>
    <!-- Add any navigation or user information you want to display here -->
</header>

<!-- Main Content Section -->
<div class="container">
    <!-- Player Information -->
    <div class="player-info">
        <h2>Welcome, {{ username }}</h2>
        <!-- Display player-specific information here, e.g., balance, assets, etc. -->
    </div>

    <!-- Auction Details -->
    <div class="auction-details">
        <h2>Current Position: {{ position }} | Current PnL: {{ pnl }} | Current Round: | Time Remaining: <span id="countdown-timer">03:00</span> </h2>
        <!-- Display auction-specific information here, e.g., current round, time remaining, etc. -->
    </div>

    <!-- Input Fields for Bids/Offers -->
    <div class="bids-offers">
        <h2>Place Your Bids and Offers</h2>
        <div class="flex-container">

            <form id="bid-offer-form" action="{% url 'update_bid_offer' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
            
            <div class="price-news-wrapper">
                <div class="starting-price">
                    <p>Starting Price:</p>
                    <span class="price-placeholder">31</span>
                </div>
                <div class="news-reel">
                    <p>Breaking News: Stock Market hits all-time high!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Trade Confirmation Popup -->
    <div class="trade-confirmation">
        <!-- Placeholder for trade confirmation pop-up content -->
    </div>
    <hr>
    <!-- Auction Status -->
    <div class="auction-status">
        <h2>Trading Window</h2>
        <!-- Display real-time updates on bid/offer status from other players -->
        <!-- Example: Player X bids $50.25, Player Y offers $50.75 -->
        <table>
            <tr>
                <th class="player-name">Player Name</th>
                <th >Action</th>
                <th class="bid">Bid</th>
                <th >Action</th>
                <th class="offer">Offer</th>
            </tr>

            {% for ai in ai_players %}
            <tr id="user-row-{{ ai.name }}">
                <td>{{ ai.name }}</td>
                <td><button class="hit-bid" data-player-id="{{ ai.id }}">Hit Bid</button></td>
                <td class="bid" data-bid="{{ ai.bid }}">${{ ai.bid }}</td>
                <td><button class="lift-offer" data-player-id="{{ ai.id }}">Lift Offer</button></td>
                <td class="offer" data-offer="{{ ai.offer }}">${{ ai.offer }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <hr>
    <!-- Confirmed Trades -->
    <div class="confirmed-trades">
        <h2>Trade Log</h2>
        <!-- Display real-time confirmed trades -->
        <!-- Example: Player X bought 2000mt from Player Y at  $50.25-->
        <table>
            <tr>
                <th class="buyer-name">Buyer Name</th>
                <th class="seller-name">Seller Name</th>
                <th class="price">Price</th>
                <th class="qty">Quantity</th>
            </tr>

            {% for trade in trades %}
            <tr id="trade-row-{{ trade.id }}">
                <td>{{ trade.buyer.name }}</td>
                <td>{{ trade.seller.name }}</td>
                <td>{{ trade.price }}</td>
                <td>{{ trade.quantity }}</td>
            </tr>
            {% endfor %}
            
        </table>

    </div>
    <!-- Game Actions -->
    <div class="game-actions">      
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Round Summary</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Summary data will be populated here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Footer Section -->
<footer>
    <p>&copy; 2023 Contango Cargoes. All rights reserved.</p>
    {% if user.is_authenticated %}
    <a href="{% url 'logout_view' %}" class="btn btn-danger">Logout</a>
    {% endif %}
    
</footer>

<script>
    var updateBidOfferUrl = "{% url 'update_bid_offer' %}";
    var createTradeUrl = "{% url 'create_trade' %}";
    var playerSummaryUrl = "{% url 'player_summary' %}";

    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
</script>
<script src="{% static 'trading/game.js' %}"></script>

</body>
</html>





        