{% extends "layout.html" %}

{% block body %}
<div class="content-wrapper">
    <div class="text-content">
        <h1>Welcome to Contango Cargoes!</h1>
        <br>
        <h3>Experience the dynamics of trading in the Market On Close window for physical oil.</h3>
        <br>
        <h3>How it Works:</h3>
        <br>
        <p><strong>Objective:</strong> Your main goal is to accurately estimate the expected value of the settlement price. Your score, or Profit & Loss (PnL), is determined by how effectively you buy below and sell above the final settlement price. Engage in the exhilarating world of trading, constantly adapting to the evolving news and market dynamics.</p>
        <p><strong>Settlement Price Prediction:</strong> Each round kicks off with a 3-minute timer and an initial price point, like $70 for instance. As the minutes tick by, news messages are released, each potentially influencing the final settlement price that will be revealed at the round's end. Your mission? Predict that final price by interpreting the news while engaging in trades, not just with other players, but also with a savvy AI trader. Test your trading intuition and strategy against the clock and the market's whims.</p>
        <p><strong>Bid & Offer:</strong> The bid is the price you're willing to pay. The offer is the price you're willing to sell at. React and adapt your bid and offers as new information comes into play.</p>
        <p><strong>News & Market Dynamics:</strong> Interpret periodic news messages which might sway the market in a bullish (upward) or bearish (downward) direction. How will you adjust your bid and offer based on these insights?</p>
        <p><strong>Trading Strategy:</strong> Witness real-time bids, offers, submitted by other traders and an AI Trader. Spot an offer lower than your settlement prediction? Time to buy! See a bid higher than your anticipated settlement? That's a sell!</p>
        <br>
    </div>
    <div class="form-content">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
    
        <br>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        <hr>
    </div>
</div>
    <footer>
        <p>&copy; 2023 Contango Cargoes. All rights reserved.</p>
    </footer>

{% endblock %}